<footer class="fot">
    <div class="logo">
        <img src="../img/footer.svg" alt="">
    </div>
    <div class="div">
        <p class="text">Тел: +38 (123) 456 78 90</p>
        <p class="text">E-Mail: codingmagic@gmail.com</p>
        <p class="text">Facebook: CodingMagic</p>
        <p class="text">Twitter: CodingMagic</p>
        <p class="text">Instagram: CodingMagic</p>
    </div>

    <div class="inp">
        <input class="footer_input" placeholder="Ваша ел. адреса..." type="email">
        <button class="but" data-modal-open>
            Підписатись
        </button>
        <p class="ip">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</footer>
<div class="backdrop is-hidden" data-backdrop>
    <div class="modal_footer is-hidden">
    <h2 class="modeal_fh2">Дякую за підписку!</h2>
    <button class="bc" data-modal-close>
    </button>
    <img class="sword" src="../img/sword.svg" alt="">
    <img class="game_dev" src="../img/game-development.svg" alt="">
    <img class="puzz" src="../img/puzzle.svg" alt="">
    <img class="tic" src="../img/tic-tac-toe.svg" alt="">
    </div>
<div class="modal_footer" data-backdrop>
<h2 class="modeal_fh2">Дякую за підписку!</h2>
<button class="mb" data-modal-close></button>
<img class="sword" src="" alt="">
<img class="geame_dev" src="" alt="">
<img class="puzz" src="" alt="">
<img class="tic" src="" alt="">
</div>