<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Інтерактивні ігри</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <section class="interactive">
    <div class="container"> 
  <h1 class="game-title">Популярні інтерактивні ігри</h1>
  <div class="section-year">
    <p class="section-year-text">Перевір в який рік ти народився</p>
    <div class="data-vropper">
    <div class="game-input-year">
      <input type="text" id="yearInput" placeholder="Введіть рік народження">
      <button type="button" class="section-year-btn">
        <svg class="svg-search" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="6.52174" cy="6.52174" r="5.52174" stroke="white" stroke-width="2"/>
    <path d="M14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L14.2929 15.7071ZM11.468 10.0538L10.7609 9.34665L9.34666 10.7609L10.0538 11.468L11.468 10.0538ZM15.7071 14.2929L11.468 10.0538L10.0538 11.468L14.2929 15.7071L15.7071 14.2929Z" fill="white"/>
    </svg>
      </button>
    </div>
    <div class="result" id="yearResult"></div>
    </div>
  </div>

  <div class="section-number">
    <p class="section-number-text">Вгадай число, яке загадав комп’ютер</p>
    <div class="data-vropper">
    <div class="game-input-number">
      <input type="text" id="guessInput" placeholder="Введіть число">
      <button type="button" class="section-number-btn">
        <svg class="svg-search" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="6.52174" cy="6.52174" r="5.52174" stroke="white" stroke-width="2"/>
<path d="M14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L14.2929 15.7071ZM11.468 10.0538L10.7609 9.34665L9.34666 10.7609L10.0538 11.468L11.468 10.0538ZM15.7071 14.2929L11.468 10.0538L10.0538 11.468L14.2929 15.7071L15.7071 14.2929Z" fill="white"/>
</svg>
      </button>
    </div>
    <div class="result" id="guessResult"></div>
    </div>
  </div>
  </div>
  </section>
  <script src="./js/mouse.js" type="module"></script>
</body>
</html>
