<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/our-team.css" />
  </head>
  <body>
    <section class="our-team">
      <hr class="our-team-line" />
      <h2 class="our-team-title">Наша команда</h2>
      <div class="container">
        <button class="our-team-button-left">
          <img src="./photos/left-slider.jpg" alt="left" />
        </button>
        <div class="our-team-content">
          <div class="our-team-photo">
            <img
              src="./photos/Our-Team1.png"
              alt="Dima"
              class="our-team-image"
            />
            <img
              src="./photos/Our-Team2.png"
              alt="Anton"
              class="our-team-image"
            />
            <img
              src="./photos/Our-Team3.png"
              alt="Artur"
              class="our-team-image"
            />
            <img
              src="./photos/Our-Team4.png"
              alt="Vasyl"
              class="our-team-image"
            />
            <img
              src="./photos/Our-Team5.png"
              alt="Nikita"
              class="our-team-image"
            />
            <img
              src="./photos/Our-Team6.png"
              alt="Artem"
              class="our-team-image"
            />
          </div>
          <p class="our-team-name">Ім’я студента</p>
          <p class="our-team-info">
            Інформація про роботу, яку він/вона виконав/ла
          </p>
          <div class="our-team-dots">
            <span class="our-team-dot"></span>
            <span class="our-team-dot"></span>
            <span class="our-team-dot"></span>
            <span class="our-team-dot"></span>
            <span class="our-team-dot"></span>
            <span class="our-team-dot"></span>
          </div>
        </div>
        <button class="our-team-button-right">
          <img src="./photos/right-slider.jpg" alt="right" />
        </button>
      </div>
    </section>
    <script src="/src/js/our-team.js"></script>
  </body>
</html>
