
<body>
    <section class="random-number">
  <hr class="random-number-hr" />
  <h2 class="random-number-title">Введіть 3 числа</h2>
  <div class="inputs">
    <ul class="random-number-list"> 
        <li class="random-number-text"><input type="number" id="num1" class="random-number-inputs" placeholder="Введіть число" /></li>
        <li class="random-number-text"><input type="number" id="num1" class="random-number-inputs" placeholder="Введіть число" /></li>
        <li class="random-number-text"><input type="number" id="num1" class="random-number-inputs" placeholder="Введіть число" /></li>
    </ul>
  </div>
  <div class="random-number-result" id="result"><p>Найбільше число, яке ви ввели – (число)</p></div>
  </section>
</body>
</html>