<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/js/rock-paper-scissors.js" />
  </head>
  <body>
    <section class="rock-paper-scissor-section">
      <div class="container section-position">
        <hr class="rps-line">
        <div class="rock-paper-scissor-game">
          <h1 class="game-title">Камінь - ножиці - папір</h1>
          <div class="game-part">
            <button type="button" class="choice-btn">
              <img src="/src/img/stone.png" alt="stone" />
            </button>
            <button type="button" class="choice-btn">
              <img src="/src/img/scissors.png" alt="scissors" />
            </button>
            <button type="button" class="choice-btn">
              <img src="/src/img/paper.png" alt="paper" />
            </button>
            <div class="result-message">
              <p class="result-text">Ви виграли раунд!</p>
            </div>
            <div class="computer-move">
              <button class="computer-move-btn" type="button">
                Варіант комп’ютера
              </button>
            </div>
          </div>
          <div class="scoreboard">
            <p class="score-title">Рахунок:</p>
            <p class="score">Комп’ютер - 0</p>
            <p class="score">Ви - 0</p>
          </div>
        </div>
      </div>
    </section>
    <script src="/src/js/rock-paper-scissors.js"></script>
  </body>
</html>
