.footer p {
    margin: 0;
}

.text:not(:last-child){
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 170%
}

.text:last-child{
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%
}

.fot{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 220px;
}

.footer_input{
    border: 1px solid rgba(0 0 0 / 0%);
    padding: 10px 80px 10px 10px;
    border-radius: 20px;
    background: #D7D7D7;
    color: #7E7E7E;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.but{
    margin-left: 36px;
    border-radius: 20px;
    background: #000;
    padding: 10px;
    color: #FFF;
    margin-right: 36px;
    border: 1px solid rgba(0 0 0 / 0%);
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo{
    margin-left: 175px;
}

.div{
    margin-left: 185px;
}

.inp{
    margin-left: 187px;
}

.ip{
    margin-top: 18px;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_footer.is-hidden{
    display:flex;
    justify-content: center;
    position:absolute;
    /* ------ */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* ------- */
    width: 463px;
    height: 245px;
    border-radius: 20px;
    background: #FFF;
    z-index: 2;
}
/* .modal_footer{
    display:none ;
=======
    display:flex ;
    justify-content: center;
    position:fixed;
    transform: translate(100%, -50%);
    width: 463px;
    height: 245px;
    border-radius: 20px;
    background: greenyellow;
    z-index: 2;
.modeal_fh2{
    margin-top: 83px;
}

.bc{
    top: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    justify-content: right;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/close.svg);
    background-position: center;
    background-size:inherit;
}

.bc{
    top: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    justify-content: right;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../img/close.svg);
    background-position: center;
    background-size:inherit;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .puzz{
    position:fixed;
    margin-top: 145px;
    margin-right: 347px;
    /* margin-left: 87px; */
    /* width: 30px;
    height: 30px;
  } */

  .tic{
    position: fixed;
    width: 30px;
    height: 30px;
    margin-top: 145px;
    margin-left: 347px;
  }

.sword{
    position:fixed;
    margin-top: 69px;
    margin-right: 390px;
    text-align: left;
    width: 30px;
    height: 30px;
}

.game_dev{
    position: fixed;
    margin-top: 69px;
    margin-left: 390px;
    width: 30px;
    height: 30px;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    /* top: 30px;
    right: 30px;
    justify-content: right;
    width: 15px;
    height: 15px;
    position: absolute; */
}


.mb{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    top: 30px;
    right: 30px;
    justify-content: right;
    background-image: url(../img/close.svg);
    background-position: center;
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
}

.modal_footer {
    display:none;
    justify-content: center;
    position:fixed;
    transform: translate(100%, -50%);
    width: 463px;
    height: 245px;
    border-radius: 20px;
    background: greenyellow;
    z-index: 2;
}